.list {
  padding-inline-start: 0px;

  margin: 0;
  background-color: var(--main-bg-color);
}
.upButton {
  width: 80%;
  border-radius: var(--main-radius);
  text-decoration: none;
  border: none;
  margin-top: 10px;
  margin-left: 25px;
  margin-bottom: 10px;
  color: var(--btn-color);
  background-color: var(--btn-bg-color);
  height: 40px;
}
.downButton {
  border-radius: var(--main-radius);
  width: 80%;
  margin-left: 25px;
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
  border: none;
  color: var(--btn-color);
  background-color: var(--btn-bg-color);
  height: 40px;
}
.icon {
  margin: auto;
}

.listWrapper::-webkit-scrollbar {
  width: 9px;
}

.listWrapper::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
  border-radius: 3px;
}

.listWrapper::-webkit-scrollbar-thumb:hover {
  background-color: var(--scroll-thumb-hover-color);
}

.listWrapper::-webkit-scrollbar-track {
  background-color: var(--scroll-track-color);
  border-radius: 3px;
}

.downButton:hover {
  background-color: var(--btn-hover);
  color: var(--main-text-color);
  font-weight: 500;
}

.upButton:hover {
  background-color: var(--btn-hover);
  color: var(--main-text-color);
  font-weight: 500;
}
@media (max-width: 700px) {
  .listWrapper {
    display: none;
  }
  .listWrapper::-webkit-scrollbar {
    width: 6px;
  }

  .listWrapper::-webkit-scrollbar-thumb {
    background-color: var(--scroll-thumb-color);
    border-radius: 3px;
  }

  .listWrapper::-webkit-scrollbar-thumb:hover {
    background-color: var(--scroll-thumb-hover-color);
  }

  .listWrapper::-webkit-scrollbar-track {
    background-color: var(--scroll-track-color);
    border-radius: 3px;
  }
}

.downButtonDisable {
  width: 0;
  height: 0;
  display: none;
}
.upButtonDisable {
  width: 0;
  height: 0;
  display: none;
}
.listWrapper {
  max-height: 1310px;
  overflow-y: auto;
}
@media (max-width: 1080px) {
  .upButton {
    width: 80%;
    display: flex;
    text-decoration: none;
    border: none;
    margin-top: 10px;
    margin-bottom: 15px;
    background-color: var(--main-bg-color);
    height: 40px;
  }
  .listWrapper {
    max-height: 1400px;
    overflow-y: auto;
  }

  .listWrapper::-webkit-scrollbar {
    width: 9px;
  }
  .listWrapper::-webkit-scrollbar-thumb {
    background-color: var(--scroll-thumb-color);
    border-radius: 3px;
  }

  .listWrapper::-webkit-scrollbar-thumb:hover {
    background-color: var(--scroll-thumb-hover-color);
  }

  .listWrapper::-webkit-scrollbar-track {
    background-color: var(--scroll-track-color);
    border-radius: 3px;
  }

  .downButtonDisable {
    width: 80%;
    display: flex;
    margin-top: 30px;
    text-align: center;
    text-decoration: none;
    border: none;
    background-color: var(--main-bg-color);
    height: 40px;
  }
  .upButtonDisable {
    width: 80%;
    text-decoration: none;
    border: none;
    display: flex;
    margin-bottom: 15px;
    background-color: var(--main-bg-color);
    height: 40px;
    margin-top: 30px;
  }
  .downButton {
    width: 80%;
    display: flex;
    margin-top: 30px;
    text-align: center;
    text-decoration: none;
    border: none;
    background-color: var(--main-bg-color);
    height: 40px;
  }
}

@media (max-width: 700px) {
  .listWrapper {
    max-height: 1310px;
    overflow-y: auto;
  }
  .main {
    grid-template-rows: 60px 30px 60px 1680px 200px;
    grid-template-columns: 100%;
    grid-template-areas:
      "header"
      "."
      "generalInfo"
      "."
      "footer";
  }
  .listWrapper::-webkit-scrollbar {
    width: 9px;
  }

  .listWrapper::-webkit-scrollbar-thumb {
    background-color: var(--scroll-thumb-color);
    border-radius: 3px;
  }

  .listWrapper::-webkit-scrollbar-thumb:hover {
    background-color: var(--scroll-thumb-hover-color);
  }

  .listWrapper::-webkit-scrollbar-track {
    background-color: var(--scroll-track-color);
    border-radius: 3px;
  }
}

@media (min-width: 1220px) {
  .listWrapper {
    max-height: 580px;
    overflow-y: auto;
  }

  .listWrapper::-webkit-scrollbar {
    width: 9px;
  }
  .listWrapper::-webkit-scrollbar-thumb {
    background-color: var(--scroll-thumb);
    border-radius: 3px;
  }

  .listWrapper::-webkit-scrollbar-thumb:hover {
    background-color: var(--scroll-thumb-hover-color);
  }

  .listWrapper::-webkit-scrollbar-track {
    background-color: var(--scroll-track-color);
    border-radius: 3px;
  }
}
