@font-face {
  font-family: 'Roboto';
  src: url('https://fonts.googleapis.com/css?family=Roboto') format("woff2");
}


.country {
  background-color: var(--main-bg-color);
  list-style: none;
  padding: 10px 0;
  text-align: left;
  font-size: 1em;
  color: #444;
  font-weight: 450;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 250px;
  height: 34px;
  font-family: "Roboto Light",sans-serif;

}

.country:hover {
  background-color: #c8dafa;
  color: darkgrey;
  font-weight: 500;
}
.country:active,
.country:focus {
  background-color: #c8dafa;
  color: darkgrey;
  font-weight: 500;
}
.flag {
  width: 1.4rem;
  height: 1rem;
  padding-right:32px;
  padding-left: 32px;
  padding-top: 7px;
}
