@font-face {
  font-family: 'Roboto';
  src: url('https://fonts.googleapis.com/css?family=Roboto') format("woff2");
}

@media (max-width: 1080px) {
  .country{
    margin: 0;
    background-color: var(--main-bg-color);
    list-style: none;
    font-size: 1em;
    color: var(--main-text-color);
    font-weight: 450;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-family: "Roboto Light",sans-serif;
    display: flex;
  }}




.country {
  background-color: var(--main-bg-color);
  list-style: none;
  padding: 10px 0;
  text-align: left;
  font-size: 1em;
  color: var(--main-text-color);
  font-weight: 450;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  font-family: "Roboto Light",sans-serif;
  display: flex;
}

.country:hover {
  color: var(  --text-input-color);
  background-color: var(--main-text-hover);
  font-weight: 500;
}
.country:active,
.country:focus {
  background-color: var(--main-text-hover);
  color: darkgrey;
  font-weight: 500;
}
.flag {
  width: 1.4rem;
  height: 1rem;
  padding-right:32px;
  padding-left: 32px;
  padding-top: 3px;
}
.searchedPhrase {
  font-weight: bold;
  margin-top: 10px;
}
.searchedText{
  margin-left: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}