.listItem {
  background-color: #E6EEEF;
  list-style: none;
  padding: 12px 18px;
  text-align: left;
  font-size: 1.2em;
  color: #444;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 300px;
  margin-left: 40px;
  margin-top: 60px;
}

.icons {
  margin-right: 16px;
}

.main{
  background-color: #deeae8;
  width: 90%;
  height: 80%;
}
