.main {
    grid-area: generalInfo;
    display: grid;
    grid-template-rows: 405px 405px;
    grid-template-columns: 20vw 15vw 15vw 20vw;
    grid-gap: 30px;
    grid-template-areas:
        'totalInfo totalInfo totalInfo countryCovid'
        "vacination vacination continent continent";
}