.footer {
  background-color: var(--main-bg-color);
  border-radius: var(--main-radius);
  text-decoration: none;
  grid-area: footer;
  margin-top: 10px;
}
.img {
  width: 16px;
  background-color: var(--main-text-color);
}
.title {
  font-size: 20px;
  font-weight: 750;
  color: var(--main-text-color);
  padding-left: 20px;
}
.subtitle {
  font-size: 15px;
  font-weight: 500;
  color: var(--main-text-color);
  padding-left: 20px;
}
.list {
  text-decoration: none;
}

.link {
  text-decoration: none;
  color: var(--main-text-color);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}
