body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-app-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root{
  --main-text-color:#444;
  --main-bg-color: #ffffff;
  --main-radius:14px;
  --main-app-color:#F7F7F7;
  --main-text-hover: #c8dafa;
  --btn-hover:#d5b5ec;
  --text-input-color:#2F80ED;
  --country-text:#444;
  --search-input-bg:#d8ebff;
  --countryDetail-bg-color:#cccccc;
  --covidInfoListItem-bg-color: #E6EEEF;
  --countryItem-bg-color:#cddfdc;
  --countryDetail-info-bg-color: #DCDCD0;
  --countryInformation-data-bg-color:#f1e2d7;
  --countryinfo-border-color:#E5E5E5;
  --countryInformation-data-text-color:#8E8E93 ;
  --total-deaths-chart-color:#4bc0c0 ;
}

[data-theme="dark"] {
  --main-text-color:#D8B9C3;
  --main-bg-color: #4D4C7D;
  --main-radius:14px;
  --main-app-color:#363062;
  --country-hover: #827397;
  --btn-hover:#6d6392;
  --text-input-color:#F7F7F7;
  --main-text-hover:#D8B9C3;
  --search-input-bg:#6d6392;
  --countryDetail-bg-color:#4D4C7D;
  --covidInfoListItem-bg-color: #E6EEEF;
  --countryItem-bg-color:#4D4C7D;
  --countryDetail-info-bg-color: #4D4C7D;
  --countryInformation-data-bg-color:#f1e2d7;
  --countryinfo-border-color:#f1e2d7;
  --countryInformation-data-text-color:#F7F7F7 ;
  --total-deaths-chart-color:#C297B8;
}